

#icon{
    float: left;

}

header{
    float: left;
    background-color: blue;
    width: 99.4%;
    padding: 0.3%;
    border-bottom: 25px solid yellow;

}

header{
    font-size: 400%;
    text-align: center;
    color: white;
    font-family: Georgia;
}

body{
    background-image: url("http://img0.liveinternet.ru/images/attach/c/7/96/364/96364306_0_4eb66_f1ba1c69_L.jpg");

}
#messageBox{
    width: 800px;
    height: 300px;
    background-color: #4960dc;
    margin: auto;
    padding: 50px 50px;
    border-radius: 20px;
    background-image: url("http://mtdata.ru/u5/photoC1EB/20306498144-0/original.png");
    background-size: contain;
}

.btn{
    float: right;
    width: 70px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
    margin: 30px 30px;
    bottom: 100px;
    position: absolute;
    right: 600px;
}

#message{
    font-size: 40px;
    font-family: "fantasy";
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: white;
}

